In [27]:
!pip install xlrd

Requirement already satisfied: xlrd in /opt/miniconda3/lib/python3.13/site-packages (2.0.2)

In [28]:
import pandas as pd

df = pd.read_excel('GSAF5.xls')
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.tail(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7040,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
7041,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
7042,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
7043,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
7044,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [30]:
df.sample(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
521,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,26,...,NaN,"C. Creswell, GSAF",2020.01.13-Horne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.01.13,2020.01.13,6521.0,NaN,NaN
6140,31-Mar-1910,1910.0,Unprovoked,PANAMA,Colón Province,Cristobal,Fell overboard from USS cruiser Tacoma,"Samuel Barnes, a Marine",M,NaN,...,NaN,"The Ogden Standard, 4/13/1910",1910.03.31-Barnes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1910.03.31,1910.03.31,908.0,NaN,NaN
6779,10-Sep-1847,1847.0,Unprovoked,USA,Massachusetts,"Chelsea Beach, Suffolk County",Wading,Amos Thompson,M,NaN,...,NaN,Louisville Daily Courier. 9/16/1847,1847.09.10-Thompson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1847.09.10,1847.09.10,269.0,NaN,NaN
2912,26-Apr-1998,1998.0,Unprovoked,MOZAMBIQUE,Gaza,"Bilene Bay, 180 km north of Maputo",Towing rubber dinghy,Wilma van Molendorff,F,35,...,3 m [10'] shark,"A. Gifford, GSAF",1998.04.26-VonMollendorf.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.04.26,1998.04.26,4135.0,NaN,NaN
5921,20-Apr-1924,1924.0,Invalid,AUSTRALIA,Western Australia,Fremantle,Swimming,Noel Knight,M,NaN,...,Questionable,"V.M. Coppleson (1933); G.P. Whitley (1951), p...",1924.04.20-Knight.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1924.04.20,1924.04.20,1127.0,NaN,NaN
4858,1959,1959.0,Provoked,PAPUA NEW GUINEA,Morobe Province,NaN,Fishing,male,M,NaN,...,NaN,"A.D. Campbell; A.M. Rapson, p.147",1959.00.00.a-Morobe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.00.00.a,1959.00.00.a,2189.0,NaN,NaN
524,05-Jan-2020,2020.0,Unprovoked,AUSTRALIA,Western Australia,Cull Island / Esperance,Scuba diving,Gary Johnson,M,57,...,White shark,"B. Myatt, GSAF",2020.01.05-Johnson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2020.01.05,2020.01.05,6518.0,NaN,NaN
2071,07-Aug-2007,2007.0,Unprovoked,USA,Florida,"Islamorada, Monroe County",Jumped into the water,Ashley Silverman,F,19,...,Possibly a 10' bull shark,"Miami Herald, 8/8/2007",2007.08.07-Silverman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.08.07,2007.08.07,4976.0,NaN,NaN
6148,Reported 15-Dec-1909,1909.0,Unprovoked,AUSTRALIA,New South Wales,20 miles off Sydney,Fell overboard,Mr. Witt,M,NaN,...,NaN,"Star, 12/15/1909",1909.12.15.R-Witt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.12.15.R,1909.12.15.R,900.0,NaN,NaN
6784,Reported in 1847,1847.0,Unprovoked,AUSTRALIA,Queensland,Moreton Bay,NaN,a native,NaN,NaN,...,NaN,Narrative of the Voyage of HMS Rattlesnake 184...,1847.00.00.c-HMS-Rattlesnake.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1847.00.00.c,1847.00.00.c,264.0,NaN,NaN

In [31]:
df.columns.to_list()

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal Y/N',
 'Time',
 'Species ',
 'Source',
 'pdf',
 'href formula',
 'href',
 'Case Number',
 'Case Number.1',
 'original order',
 'Unnamed: 21',
 'Unnamed: 22']

In [32]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [34]:
df['Fatal Y/N'].nunique()

12

----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------

RODRIGO CODE

----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------

In [35]:
df['Fatal Y/N'].value_counts()

Fatal Y/N
N          4915
Y          1482
UNKNOWN      71
 N            7
F             5
M             3
Nq            1
n             1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

Cleaning 'Fatal' Data Column:

In [36]:
df['Fatal Y/N'] = df['Fatal Y/N'].astype(str).str.strip().str.upper()

df['Fatal Y/N'] = df['Fatal Y/N'].replace({
    'N ': 'N',
    ' N': 'N',
    'UNKNOWN': 'Unknown',  
    'F': 'Unknown',
    'Y ': 'Y',
    'M': 'Unknown', 
    '2017': 'Unknown',
    'Y x 2': 'Unknown',
    '0': 'Unknown'
})

df.loc[~df['Fatal Y/N'].isin(['Y', 'N']), 'Fatal Y/N'] = 'Unknown'

In [37]:
df['Fatal Y/N'].value_counts()

Fatal Y/N
N          4924
Y          1483
Unknown     643
Name: count, dtype: int64

Adding clean 'Injury_Class' column to the data set:

In [38]:
df['Injury'].nunique()

4167

In [39]:
df['Injury'] = df['Injury'].fillna('Unknown').astype(str).str.lower().str.strip()

def classify_injury(text):
    text = str(text).lower().strip()
    if any(word in text for word in ['no injury', 'uninjured', 'none', 'NaN']):
        return 'No Injury'
    elif 'survived' in text or 'escaped' in text or 'unharmed' in text:
        return 'Survived'
    elif any(word in text for word in [
        'body not recovered', 'fatal', 'died', 'death', 'deceased',
        'human remains', 'drown', 'lost at sea', 'presumed dead', 'remains of the men'
    ]):
        return 'Fatal Wounds'
    elif any(word in text for word in [
        'minor', 'scratch', 'abrasion', 'bruise', 'small', 'superficial',
        'cut', 'scrape', 'nipped', 'grazed', 'bitten but not serious',
        'bumped', 'knocked', 'struck', 'collision', 'impact', 'puncture', 'non-life-threatening' 
    ]):
        return 'Minor Wounds'
    elif any(word in text for word in [
        'amputation', 'severe', 'major', 'deep', 'critical', 'multiple',
        'serious', 'massive', 'wound', 'bite', 'bitten', 'injury to',
        'injuries to', 'injured', 'injuries', 'damage', 'torn',
        'arm severed', 'leg severed', 'lacerat', 'tissue loss'
    ]):
        return 'Severe Wounds'
    else:
        return 'Unknown'

df['Injury_Class'] = df['Injury'].apply(classify_injury)
df['Injury_Class'] = df['Injury_Class'].str.title()

In [40]:
df['Injury_Class'].value_counts()

Injury_Class
Severe Wounds    3110
Fatal Wounds     1615
No Injury         884
Minor Wounds      816
Unknown           457
Survived          168
Name: count, dtype: int64

In [41]:
df[df['Injury_Class'] == 'Unknown']['Injury'].sample(30, random_state=42)

5143    part of hand removed by shark he had caught pr...
846                                 fingernail pulled off
5521                                           no details
4233    bones and brightly colored bangles recovered  ...
3577                               contusion of left foot
4058                    sharks reportedly bit legs & fins
3812                            toothmarks on head & neck
2914    he grabbed shark's tail, shark bit his chest &...
6272    "nose hanging by a threat, prints of shark's t...
534       partial remains recovered 12/26/2019 from shark
2085                                              unknown
3742    disappeared while fishing from shore. leg foun...
3384                                           no details
5712                                              unknown
5916        arms broken by hooked shark provoked incident
1393                   two fingers lost provoked incident
5805               body of woman recovered from 15' shark
4902                    torso recovered from 206-lb shark
6820    no details, it was the year the first settlers...
2434    no inury, shark caught leash attached to surfe...
2376    suffered broken ribs when the shark's tail fin...
3296                                   right calf abraded
4277                                           no details
3076                             upper left thigh avulsed
4249    disappeared, no trace of men or equipment, sha...
5918    netted shark made a5-inch incision above the k...
2416    disappeared while diving, may have suffered sh...
6927                                              unknown
76                                  lower left leg injury
4761    right arm abraded, circular piece of tissue re...
Name: Injury, dtype: object

In [42]:
df['Injury_Class'].value_counts()

Injury_Class
Severe Wounds    3110
Fatal Wounds     1615
No Injury         884
Minor Wounds      816
Unknown           457
Survived          168
Name: count, dtype: int64

In [43]:
df['Injury_Class'].sample(50, random_state=42).tolist()

['Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Minor Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Minor Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Minor Wounds',
 'No Injury',
 'Severe Wounds',
 'Fatal Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Minor Wounds',
 'Severe Wounds',
 'No Injury',
 'Minor Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'No Injury',
 'Fatal Wounds',
 'Minor Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Fatal Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds',
 'Severe Wounds']

In [44]:
df['Injury'].value_counts()

Injury
fatal                                                                                                    879
foot bitten                                                                                              100
survived                                                                                                  97
no injury                                                                                                 95
leg bitten                                                                                                84
                                                                                                        ...
serious bites to r bicep r wrist and r leg                                                                 1
lacerations to lower left foot and leg                                                                     1
said to be fatal and involve a 4.6 m to 6 m [15' to 20'] tiger shark but incident highly questionable      1
right hand almost torn off                                                                                 1
laceration to right leg below the knee                                                                     1
Name: count, Length: 4074, dtype: int64

Rodrigo location work

In [45]:
# Combining Country, State, and Location into Full_Location

df[['Country', 'State', 'Location']].head(10)

,Country,State,Location
0,Columbia,"Bolivar, del Isolate",Catagena Province
1,Australia,Queensland,Cook Esplanade Thursday Island
2,Australia,South Australia,Kangaroo Island
3,USA,Off California,Catalina Island
4,Costa Rica,NaN,Cocos Islands
5,Australia,NSW,Long Reef Sydney
6,USA,Florida,Horseshoe reef Key Largo
7,USA,Texas,Galveston
8,Australia,NSW,Cabarita Beach
9,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport

In [46]:
df['Full_Location'] = (
    df[['Location', 'State', 'Country']]
    .fillna('Unknown') 
    .agg(', '.join, axis=1)  
    .str.replace(r'(,\s*)+', ', ', regex=True) 
    .str.strip(', ') 
)
df[['Location', 'State', 'Country', 'Full_Location']].head(10)

,Location,State,Country,Full_Location
0,Catagena Province,"Bolivar, del Isolate",Columbia,"Catagena Province, Bolivar, del Isolate, Columbia"
1,Cook Esplanade Thursday Island,Queensland,Australia,"Cook Esplanade Thursday Island, Queensland, Au..."
2,Kangaroo Island,South Australia,Australia,"Kangaroo Island, South Australia, Australia"
3,Catalina Island,Off California,USA,"Catalina Island, Off California, USA"
4,Cocos Islands,NaN,Costa Rica,"Cocos Islands, Unknown, Costa Rica"
5,Long Reef Sydney,NSW,Australia,"Long Reef Sydney, NSW, Australia"
6,Horseshoe reef Key Largo,Florida,USA,"Horseshoe reef Key Largo, Florida, USA"
7,Galveston,Texas,USA,"Galveston, Texas, USA"
8,Cabarita Beach,NSW,Australia,"Cabarita Beach, NSW, Australia"
9,North of Grand Bahama near Freeport,Atlantic Ocean near Big Grand Cay,Bahamas,"North of Grand Bahama near Freeport, Atlantic ..."

In [47]:
df['Full_Location'] = df['Full_Location'].replace('', 'Unknown Location')

In [48]:
df['State'] = df['State'].replace('', 'Unknown').fillna('Unknown')

In [49]:
df['State'].value_counts()

State
Florida                              1192
New South Wales                       522
Unknown                               486
Queensland                            353
Hawaii                                344
                                     ...
Rocha                                   1
Gulf of Tadjoura                        1
Nuku Hiva                               1
Carolina                                1
Atlantic Ocean near Big Grand Cay       1
Name: count, Length: 940, dtype: int64

In [50]:
df['Full_Location'].value_counts()

Full_Location
New Smyrna Beach, Volusia County, Florida, USA     195
Daytona Beach, Volusia County, Florida, USA         32
Unknown, Unknown, Unknown                           29
Ponce Inlet, Volusia County, Florida, USA           28
Myrtle Beach, Horry County, South Carolina, USA     22
                                                  ...
Horseshoe reef Key Largo, Florida, USA               1
Long Reef Sydney, NSW, Australia                     1
Cocos Islands, Unknown, Costa Rica                   1
Catalina Island, Off California, USA                 1
Kangaroo Island, South Australia, Australia          1
Name: count, Length: 4998, dtype: int64

In [51]:
df.groupby('Country')['Full_Location'].count().sort_values(ascending=False).head(10)

Country
USA                 2573
AUSTRALIA           1481
SOUTH AFRICA         597
NEW ZEALAND          144
BAHAMAS              136
PAPUA NEW GUINEA     136
BRAZIL               122
MEXICO               103
ITALY                 72
FIJI                  67
Name: Full_Location, dtype: int64

In [52]:
#Zooming in on Location for specific areas to identify as dangerous zones:

df['Location'] = df['Location'].fillna('Unknown').astype(str).str.title().str.strip()

df.groupby('Location').size().sort_values(ascending=False).head(20)

Location
Unknown                                          567
New Smyrna Beach, Volusia County                 193
Daytona Beach, Volusia County                     34
Ponce Inlet, Volusia County                       28
Myrtle Beach, Horry County                        22
Melbourne Beach, Brevard County                   21
Cocoa Beach, Brevard  County                      19
Durban                                            18
Isle Of Palms, Charleston County                  16
Piedade                                           14
Boa Viagem, Recife                                14
Jensen Beach, Martin County                       13
Jacksonville Beach, Duval County                  13
Cocoa Beach, Brevard County                       13
Juno Beach, Palm Beach County                     12
Ponce Inlet, New Smyrna Beach, Volusia County     12
Ormond Beach, Volusia County                      11
Ahvaz, On The Karun River                         11
Palm Beach, Palm Beach County                     11
Mossel Bay                                        11
dtype: int64

In [53]:
df['Location_Country'] = (
    df[['Location', 'Country']]
    .fillna('')
    .agg(', '.join, axis=1)
    .str.replace(r'(,\s*)+', ', ', regex=True)
    .str.strip(', ')
)

df.groupby('Location_Country').size().sort_values(ascending=False).head(20)

Location_Country
New Smyrna Beach, Volusia County, USA                 196
Unknown, USA                                           57
Unknown, AUSTRALIA                                     46
Unknown                                                39
Unknown, BAHAMAS                                       36
Daytona Beach, Volusia County, USA                     34
Ponce Inlet, Volusia County, USA                       28
Myrtle Beach, Horry County, USA                        22
Melbourne Beach, Brevard County, USA                   21
Cocoa Beach, Brevard  County, USA                      19
Isle Of Palms, Charleston County, USA                  18
Durban, SOUTH AFRICA                                   18
Unknown, PHILIPPINES                                   16
Unknown, FIJI                                          16
Unknown, ATLANTIC OCEAN                                15
Piedade, BRAZIL                                        14
Boa Viagem, Recife, BRAZIL                             14
Ponce Inlet, New Smyrna Beach, Volusia County, USA     13
Jensen Beach, Martin County, USA                       13
Jacksonville Beach, Duval County, USA                  13
dtype: int64

Cleaning all "Location relatable" columns:

In [54]:
# Making all text consistent (same case, no extra spaces):

df['Location'] = df['Location'].astype(str).str.strip().str.title()
df['State'] = df['State'].astype(str).str.strip().str.title()
df['Country'] = df['Country'].astype(str).str.strip().str.title()

In [55]:
# Removing 'Unknown' entries from Countrys, so "Unknown, USA" becomes just "USA":

def clean_full_location(loc):
    parts = [p.strip() for p in str(loc).split(',')]
    # Keep only parts that are not 'Unknown' or empty
    parts = [p for p in parts if p.lower() not in ['unknown', '', 'nan']]
    return ', '.join(parts) if parts else 'Unknown'

df['Full_Location'] = df['Location_Country'].apply(clean_full_location)

df.groupby('Full_Location').size().sort_values(ascending=False).head(20)

Full_Location
New Smyrna Beach, Volusia County, USA                 196
USA                                                    57
AUSTRALIA                                              47
Unknown                                                39
BAHAMAS                                                36
Daytona Beach, Volusia County, USA                     34
Ponce Inlet, Volusia County, USA                       28
Myrtle Beach, Horry County, USA                        22
Melbourne Beach, Brevard County, USA                   21
Cocoa Beach, Brevard  County, USA                      19
Isle Of Palms, Charleston County, USA                  18
Durban, SOUTH AFRICA                                   18
FIJI                                                   16
PHILIPPINES                                            16
ATLANTIC OCEAN                                         15
Piedade, BRAZIL                                        14
Boa Viagem, Recife, BRAZIL                             14
Ponce Inlet, New Smyrna Beach, Volusia County, USA     13
Cocoa Beach, Brevard County, USA                       13
Jensen Beach, Martin County, USA                       13
dtype: int64

In [56]:
# Specific dangerous places (e.g., beaches, coasts), without vague entries like “Atlantic Ocean” or just “USA”:

df_filtered = df[df['Full_Location'].str.count(',') >= 1]

In [57]:
# Regrouped specific locations:

df_filtered.groupby('Full_Location').size().sort_values(ascending=False).head(15)

Full_Location
New Smyrna Beach, Volusia County, USA                 196
Daytona Beach, Volusia County, USA                     34
Ponce Inlet, Volusia County, USA                       28
Myrtle Beach, Horry County, USA                        22
Melbourne Beach, Brevard County, USA                   21
Cocoa Beach, Brevard  County, USA                      19
Durban, SOUTH AFRICA                                   18
Isle Of Palms, Charleston County, USA                  18
Boa Viagem, Recife, BRAZIL                             14
Piedade, BRAZIL                                        14
Jensen Beach, Martin County, USA                       13
Jacksonville Beach, Duval County, USA                  13
Ponce Inlet, New Smyrna Beach, Volusia County, USA     13
Cocoa Beach, Brevard County, USA                       13
Juno Beach, Palm Beach County, USA                     12
dtype: int64

----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------

In [58]:
# Divya's work
# Cleaning up 'activity' column in the dataset

df['Activity'].nunique() #unique values in the activity column

1608

In [59]:
df['Activity'].unique()

array(['Swimming with sharks', 'Fishing/swimming', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      shape=(1609,), dtype=object)

In [60]:
df['activity_clean'] = (
    df['Activity']
    .str.lower() #lowercase
    .str.strip() #remove spaces
    .str.replace(r'[^a-z\s]', '', regex=True)  #remove punctuation/numbers
)

In [61]:
import numpy as np

def categorize_activity(text):
    if pd.isna(text): #handling 'NaN' values and labelling them as unknown
        return "unknown"
    if any(word in text for word in ["surf", "bodyboard", "paddle", "boogie", "body boarding", "kiteboarding", "foilboarding", "skimboarding", "wakeboarding"]): #if the word is present in the text, then loop over each word and replace with return 'string'
        return "Surfing"
    elif any(word in text for word in ["swim", "bathing", "snorkel", "rescue", "float", "splash", "swimming"]):
        return "Swimming"
    elif any(word in text for word in ["fish", "spearfish", "net", "catch", "line", "fishing", "spear", "scalloping", "lobstering", "hunt", "clamming"]):
        return "Fishing"
    elif any(word in text for word in ["dive", "scuba", "freediv", "underwater", "research", "investigat", "pearl", "recover", "diving"]): #'investigat' covers terms like investigating / investigation / investigator..
        return "Diving"
    elif any(word in text for word in ["boat", "kayak", "sail", "ship", "vessel", "frigate", "dinghy", "canoe", "race", "compet", "rowing", "watercraft", "jet ski", "paddling", "sculling", "raft", "yacht"]):
        return "Boating"
    elif any(word in text for word in ["walk", "stand", "wade", "reef", "shore", "beach", "adrift", "wading", "tread"]):
        return "Wading"
    elif any(word in text for word in ["sea disaster", "aircraft", "boeing", "wreck", "hurricane", "tsunami", "earthquake", "disaster", "plunged", "sank", "destroyed", "overboard", "suicide", "air", "petting", "capsize", "swept", "help", "ride", "sunk", "went down", "crash", "sinking"]):
        return "Catastrophe"
    else:
        return "Other Activity"

df['activity_group'] = df['activity_clean'].apply(categorize_activity) #new column 'activity group' for categorised activity

In [62]:
print("Original:", df['Activity'].nunique()) #original dataset
print("Cleaned:", df['activity_clean'].nunique()) #activity column after removing spaces, fixing inconsistent letter cases and removing punctutations
print("Grouped:", df['activity_group'].nunique()) #after categorising all the activity under specific keywords

Original: 1608
Cleaned: 1522
Grouped: 9

In [63]:
df[df['activity_group'] == 'Other Activity']['activity_clean'].sample(40, random_state=42).tolist()
#sample of 'other' category to improve mapping and grouping

['baiting sharks',
 'unknown but it was said to be the first known attack in sydney harbour',
 'attempting to fix motor',
 'sitting in shallows',
 'sitting in the water',
 'washing cooking pans',
 'human head found in shark caught by british steamer syria',
 'playing in the water',
 'pulling anchor',
 'escaping from alacatraz',
 'measuring sharks',
 'filming',
 'washing his feet',
 'stamding',
 'masted steel barque glenbank foundered during a cyclone',
 'filming  blue shark',
 'lying prone in  of water',
 'waterskiing',
 'kite boarding',
 'dangling feet in the water',
 'jumped into the water',
 'attempting to lasso sharks tail',
 'hms victoria collided with the hms camperdown',
 'escaping from alacatraz',
 'on a roundtheworld expedition',
 'attempting to illegally enter the usa',
 'inebriated woke from sleep and fell off deck into the water',
 'fell into the water',
 'sitting in shallows',
 'hbm magpie foundered in a squall',
 'feeding mullet to sharks',
 'parachuted from balloon',
 'teasing a shark',
 'jumped into the water',
 'jumping in swells',
 'searching for remains of  dr marais',
 'attempting to anesthetize shark',
 'the cutter francis adams foundered',
 'washing hands',
 'attempting to attract dolphins']

In [64]:
df['activity_group'].value_counts()

activity_group
Swimming          1667
Surfing           1637
Fishing           1368
unknown            585
Diving             568
Wading             387
Boating            332
Other Activity     332
Catastrophe        174
Name: count, dtype: int64

In [65]:
#Cleaning and formatting the 'date' column and extracting 'month' from it
df["Date"].head(30)

0            14th October
1            11th October
2             7th October
3          29th September
4          27th September
5           6th September
6           1st September
7             30th August
8             18th August
9             17th August
10            16th August
11             7th August
12             1st August
13              28th July
14              25th July
15              22nd July
16              20th July
17              19th July
18              18th July
19              15th July
20              6th July
21               6th July
22               4th July
23              29th June
24              25th June
25              22nd June
26              17th June
27    2025-06-11 00:00:00
28               31st May
29    2025-05-29 00:00:00
Name: Date, dtype: object

In [66]:
df["Date"].tail(30)

7020                                         World War II
7021                                          Before 1905
7022                              A few years before 1938
7023                                              No date
7024                                          Early 1930s
7025                                          Before 1927
7026                                  Between 1918 & 1939
7027                                              No date
7028                                              No date
7029                                              No date
7030                                           1920 -1923
7031                                          Before 1921
7032                                          Before 1911
7033                                          Before 1921
7034                                          Before 1921
7035                                          Before 1917
7036                                   Before 17-Jul-1916
7037    No date (3 days after preceding incident) & pr...
7038                                   Before 19-Jul-1913
7039                                          Before 1911
7040                                           Circa 1862
7041                                          Before 1906
7042                                          Before 1906
7043                                          Before 1906
7044                                          Before 1906
7045                                          Before 1903
7046                                          Before 1903
7047                                            1900-1905
7048                                            1883-1889
7049                                            1845-1853
Name: Date, dtype: object

In [67]:
df['Date'] = df['Date'].astype(str)

In [68]:
import numpy as np

def extract_month_or_nan(value):
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    value_str = str(value)
    for month in months:
        if month in value_str:
            return month
    return np.nan  #assign NaN if no month found

df['Extracted_Month_NaN'] = df['Date'].apply(extract_month_or_nan)

count_months = df['Extracted_Month_NaN'].count() #count extracted months (non-null values)
print(f'Number of extracted months: {count_months}')

count_nan = df['Extracted_Month_NaN'].isna().sum() #count how many NaN values were assigned
print(f'Number of non-month values: {count_nan}')

Number of extracted months: 6449
Number of non-month values: 601

In [69]:
df['Extracted_Month_NaN'].value_counts()

Extracted_Month_NaN
Jul    784
Aug    673
Sep    611
Jan    566
Jun    549
Oct    503
Apr    493
Dec    491
Mar    458
May    452
Nov    451
Feb    418
Name: count, dtype: int64

In [72]:
def get_season(month):
    if month in ['Dec', 'Jan', 'Feb']:
        return 'Winter'
    elif month in ['Mar', 'Apr', 'May']:
        return 'Spring'
    elif month in ['Jun', 'Jul', 'Aug']:
        return 'Summer'
    elif month in ['Sep', 'Oct', 'Nov']:
        return 'Autumn'
    else:
        return np.nan
# Apply season assignment
df['Season'] = df['Extracted_Month_NaN'].apply(get_season)
# Optional: quick counts
count_months = df['Extracted_Month_NaN'].count()
count_nan = df['Extracted_Month_NaN'].isna().sum()


print(df[['Extracted_Month_NaN', 'Season']].head())

  Extracted_Month_NaN  Season
0                 Oct  Autumn
1                 Oct  Autumn
2                 Oct  Autumn
3                 Sep  Autumn
4                 Sep  Autumn